body
{
    margin: 0%;
    padding: 0%;
    font-family: Arial;
}


#footer
{
    font-family: Arial;
    background-color: rgb(42, 147, 201);
    color: rgb(255, 255, 255);
    padding: 1%;
    text-align: center;
    font-size:22px;
}

.inlog
{
    margin-top: 0.3%;
    margin-left: 5%;
    display:table-cell;
    min-height:30px;
    color: white;
}

#background
{
    width: 100%;
    display:table-cell;
    min-height:30px;
}
#inleiding
{
    width: 9.5%;
    padding: 1%;
    color: white;
    background-color: dodgerblue;
    font-family: Arial;
    height: 100%;
}

.titel
{
    visibility: visible;
    font-size: 12px;
    color: black;

}
#logo
{
    width: 100px;
    float: left;
    margin-top: -3%;
}
nav
{
    background-color: rgb(42, 147, 201);
    margin: 0%;
}
/* navigatie balk met de links*/
#menu_list
{
    margin: 0px;
    padding: 3%;
}

/*Maakt de menubalk horizontaal en de kleur van de tekst wit en dikgedrukt*/
li
{
    display: inline;
    font-size:23px;
    margin-left:3vw;
    color:white;
    text-decoration: none;
    font-weight: bolder;

}

/* Ruimte van menu balk*/
ul
{
    background-color:#1c83c5;
    padding-top: 45px;
    padding-bottom: 45px;
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
}
/*ruimte van de browser ervan af zodat ie zichtbaar word erna*/
#opmaak2
{
    margin:  0 40px 0 0;
    font-size: 26px;
    display: none;
    width: 40px;
    float: left;
}

#toggle
{
    visibility: hidden;
}

a
{
    text-decoration: none;
}

@media only screen and (max-width: 1100px)
{

    #opmaak2
    {
        display: block;
        text-align: center;
        color: white;
        font-size: 20px;
        margin-top: -0.5%;
    }
    /*opmaak van navigatie balk*/
    #menu_list
    {
        text-align: center;
        width: 100%;
        display: none;
    }
    /*    zorgt ervoor dat het onder elkaar ligt met een opmaak*/
    #menu_list a
    {
        display: block;
        padding-top: 5%;
        margin: 0px;
    }

    /*als je op het menu klikt verschijnt er een menu*/
    #toggle:checked + #menu_list
    {
        display: block;
    }

    #toggle
    {
        visibility: hidden;
    }

    #logo
    {
        margin-top: -10%;
        margin-left: 44%;
    }

    #logo:hover
    {
        background-color:white;
        color:#1c83c5;
        position: relative;
    }



}


table td
{
    border: solid black 1px;
}
