# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\inetpub\REA_T3T4\TV\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
