# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\inetpub\REA_T3T4\T3_REA_Oefeningen\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
