html,
body
{
    padding: 0;
    margin: 0;
    font-family: Arial;
    height: 100vh;
}


h1 h2
{
    background-color: aliceblue;
    text-align: center;
    padding: 30px;
}

#menu
{
    padding-bottom: 10%;
    background-color: aliceblue;
    width: 19%;
    float: left;
    margin-right: 1%;
    text-align: left;
}

li
{
    list-style-type: circle;
}

#hoofd
{
    list-style-type: square;
}

img
{
    width: 200px;
    height: 100px;
    float: right;
}

main
{
    margin-left: 1%;
    height: 80vh;
}

li
{
    height: 20px;
    width: 10%;
    float: left;
    text-align: left;
    list-style: none;
}

a
{
    text-decoration: none;
}



