# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ROB_T3_werkmap_TV\T3_TV_oefening_3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
