/*opmaak van de hele pagina*/
*
{
    font-family: Arial;
    margin: 0px;
    padding: 0px;
}

/*achtergrond op de pagina */
body
{
    background-image: url("../foto/Zwart.jpg");
}

/*opmaak logo links boven*/
#logo
{
    float: left;
    width: 4.1%;
    background-color: black;
}

/*navigatie  balk opmaak*/
.nav
{
    padding-top: 1.6%;
    padding-left: 3.5%;
    padding-right: 4.04%;
    padding-bottom: 1.58%;
    float: left;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 1%;
}

/*homepagina middelste foto opmaak*/
#midden
{
    float: left;
    width: 100%;
    margin-top: 2%;
    height: 600px;
}

/*foto's onderaan de home pagina opmaak*/
.kleinefotos
{
    margin: 5%;
    margin-left: 22%;
    margin-top: 4%;
    margin-bottom: 0%;
    width: 15%;
}
/*aangepaste hoogte op de FAQ pagina*/
#height
{
    height: 100vh;
}

/*text onderaan de 2 foto's*/
.sport
{
    color: white;
    float: left;
    margin-left: 24%;
    margin-right: 6%;
    font-size: 40px;
    margin-top: 1%;
}

/*opmaak van de knopjes op de FAQ pagina*/
button
{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    position: static;
    left: 10%;
}

/*opmaak van de antwoorden op de FAQ pagina*/
#vraag1, #vraag2, #vraag3, #vraag4, #vraag5,#vraag6, #vraag7, #vraag8,#vraag9,#vraag10
{
    color: white;
    text-decoration: none;
    list-style: none;
    margin: 1%;

}

/*opmaak link van Diëtist op de FAQ pagina*/
#link1
{
    text-decoration: underline;
    color: white;

}

/*niet vertoonde optie als het scherm buiten het aantal pixels valt*/
#toggle
{
    display: none;
}

/*aangepaste opmaaak als het scherm kleiner wordt */
label
{
    margin:  0 40px 0 0;
    font-size: 26px;
    display: none;
    width: 40px;
    float: left;
}

/*opmaak onderste gedeelte van de pagina*/
footer
{
    background-color: black;
    padding: 1%;
    color: white;
    text-align: center;
    position: relative;
}

/*link van footer opmaak.*/
#link2
{
    text-decoration: underline;
    color: white;
}

/*aangepaste opmaak als het scherm kleiner word dan 1100 pixels*/
@media only screen and (max-width: 1100px) {
    /* geeft een label aan voor een menu als het scherm kleiner wordt */
    label
    {
        display: block;
        cursor: pointer;
        text-align: center;
        background-color: black;
        color: white;
    }

    /*opmaak van navigatie balk*/
    #menu_list
    {
        text-align: center;
        width: 100%;
        display: none;
    }

    /*    zorgt ervoor dat het onder elkaar ligt met een opmaak*/
    #menu_list a
    {
        display: block;
        padding-top: 2%;
        margin-top: 1%;
    }

    /*als je op het menu klikt verschijnt er een menu*/
    #toggle:checked + #menu_list
    {
        display: block;
    }

    /*lijst van het menu in de navigatie balk*/
    #menu_list
    {
        text-align: center;
        width: 100%;
        display: none;
    }

    /*als je erop klikt komt het menu te voorschijn*/
    #toggle:checked + #menu_list
    {
        display: block;
    }

    /*logo gaat weg als het scherm kleiner wordt*/
    #logo
    {
        display: none;
    }

}

